*{
    padding: 0;
    margin: 0;
}
.logo img {
    width: 180px;
    height: 60px;
    padding: 10px;
}
header{
    align-content: center;
    height: 20vh;
}
nav {
    display: flex;
    text-align: center;
    justify-content:space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 50px;
}

ul li {
    list-style: none;
    padding: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;  
}

ul {
    display: flex;
    padding: 0px;
}
ul li span{
    padding: 0 9px;
}
.first{
 justify-content: center;
 align-items: center;
 margin: 4.9%;
 display: flex;
 flex-direction: column;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.first span{
    font-size: 50px;
}
.first p{
    font-size: 24px;
    width: 70vw;
    text-align: center;
    margin: 40px;    
}

.first span img{
    margin: 0 20px;
}
.btn{
    border: 2px solid;
    padding: 17px;
    background-color:  #00b6d1;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color:  #00abc5;
}
.second{
    display: flex;  
    align-items: center; 
    flex-direction: column;
}

.download{
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second small{
    font-size: 14px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px;
}
.item{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #eeeaea;
   border-radius: 12px ;
   padding: 23px;
   margin-top: 50px;
}
 .item2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eeeaea;;
    border-radius: 12px ;
    padding: 23px;
   }
.green{
    border: 2px solid;
    padding: 17px;
    background-color: #5cb85c;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    border: none;
}
.green:hover{
background-color: #449e44;
cursor: pointer;
}
.item-lang{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.item-lang small{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: 9;

}
